<div class="col-xs-10">
  <h4>Query Example</h4>
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Query pods information
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          select pods.cluster, pods.metadata->name, pods.metadata->namespace, pods.status->podIP, pods.status->phase from pods
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Query the nodes information of a specific cluster
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          select nodes.cluster, nodes.metadata->name from nodes where nodes.cluster like 'Cluster1%'
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Query the services information of a specific namespace in multiple clusters
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          select services.cluster, services.metadata->name, services.metadata->namespace, services.spec->clusterIP from services where services.metadata->namespace="default"
        </div>
      </div>
    </div>
  </div>
</div>